<div class="page-header">
<div class="jumbotron text-center">
	<h1>Project Benjamin Button</h1>

	<div ng-if="!main.loggedIn">
	<h2>
		Gamification / visualization of your fitness life!
	</h2>
	</div>

	<div ng-if="main.loggedIn">
		<p>Welcome {{ main.user.displayName }}</p>
		<a href="/users" class="btn btn-primary">View Users</a>
		<a href="https://www.strava.com/oauth/authorize?client_id=12409&response_type=code&redirect_uri=http://localhost:3000/token_exchange&scope=view_private&approval_prompt=force" class="btn btn-primary">Link to Strava!</a>
	</div>

</div>