<div>
	<div class="jumbotron text-center">
		<a href="/">
		<span class="glyphicon glyphicon-chevron-left" id="leftClick"></span>
		</a>
		<h1>{{title}}</h1>
		<a href="?q=1">
		<span class="glyphicon glyphicon-chevron-right" id="rightClick"></span>
		</a>
		<div ng-if="!main.isStrava">   
		<a id="strava" href="https://www.strava.com/oauth/authorize?client_id=12409&response_type=code&redirect_uri=http://www.getprojectbutton.com/token_exchange&scope=view_private&approval_prompt=force" class="btn btn-primary">Link to Strava!</a>
		</div>
	</div>
	<span id="currentAge">{{age}}</span>
	<canvas id="line" width="100%" height="25%" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
	</canvas>
</div>
			<script>
				$('a').click(function(e) {
					e.preventDefault()
					window.location.replace($(this).attr('href'))
				})
			</script>
		</div>
	</div>
