
/* BOOTSTRAP MODIFICATIONS 
==================== */
body {
	margin: 0;
	height: 100vh;
	font-family: 'Roboto'
}
a {
	text-decoration: none;
}
.container {
	margin: 0;
}
.navbar.navbar-default {
	background-color: #2e2e2e;
	display: flex;
	align-items: center;
}
.navbar-brand > span {
	margin-right: 10px;
}
.navbar-brand *,.navbar-brand, .navbar-nav.navbar-right * {
	color: #e2e2e2 !important;
}

/* PERSONAL */
#data {
	position: fixed;
	bottom: 0;
	left: 0;
}
.right {
	display: inline-flex;
	position: fixed;
	top: -7px;
	right: 10px;
}
.navbar .navbar-text {
	margin-top: 28px;
}
/* YINGHANG'S OLD STYLES 
====================*/

main 					{
	padding-top:10px;	
>>>>>>> 764fd65ffa32068104c18cf957f36b03064bc0e9
}


/* HEADER 
===================== */

header .navbar {
    border-radius: 0;
}

footer {
    background-color: white;
    width: 100%;
    padding-bottom: 10px

}
font {
	margin: 50px;
}


/* NGANIMATE
====================== */


/* show and hide */

.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}


/* ANIMATIONS
====================== */

.spinner {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: spin 1s infinite;
}

.avatar {
    height: 140px;
    width: 108px;
    background-image: url(http://blaiprat.github.io/jquery.animateSprite/img/scottpilgrim_multiple.png);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
